* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  width: 400px; /* ปรับขนาดของฟอร์มตามที่คุณต้องการ */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.form-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-5 {
  width: 400px; /* ปรับขนาดของฟอร์มตามที่คุณต้องการ */
}

  .baby {
    width: 6%;
    position: relative;
    top: -1px;
    left: 20px;
    border-radius: 50%; 
    
}

.t1 {
  position: relative;
  left: 4%;
}

.menu {
  gap: 60px;
  position: relative;
  left: 300%;
  top: 9px;
}

.baby1 {
  width: 15%;
  position: relative;
  top: 50px;
  left: 90px;
}

.p1 {
  position: relative;
  left: 20%;
  top: -30px;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.bb {
  width: 15%;
  position: relative;
  top: 60px; 
  left: 90px;
}

.b2 {
  position: relative;
  left: 300%;
  top: 100px;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.pa {
  width: 15%;
  position: relative;
  top: 40px;
  left: 90px;
}

.y3 {
  position: relative;
  left: 500px;
  top: -90px;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.py {
  width: 15%;
  position: relative;
  top: 50px;
  left: 90px;
}

.p1 {
  position: relative;
  left: -300px; /* ปรับตำแหน่งไปทางขวา */
  top: 40px; /* ปรับตำแหน่งขึ้นไปด้านบน */
  display: flex;
  flex-direction: column;
  font-size: smaller;
}


.yp {
  width: 10%;
  position: relative;
  top: -650px;
  left: 800px;
}

.p1 {
  position: relative;
  left: 35%; /* ปรับตำแหน่งไปทางขวา */
  top: -90px; /* ปรับตำแหน่งขึ้นไปด้านบน */
  display: flex;
  flex-direction: column;
  font-size: smaller;
}


.t1, .t2, .t3, .t4, .t5, .t6 {
  margin-top: 20px;
}

.form-container1 {
  position: relative; /* ต้องเพิ่มเพื่อให้สามารถกำหนด z-index ได้ */
  z-index: 1; /* ตั้งค่า z-index ให้สูงกว่า header */
}

.form-container {
  position: relative; /* ต้องเพิ่มเพื่อให้สามารถกำหนด z-index ได้ */
  z-index: 2; /* ตั้งค่า z-index ให้สูงกว่า form-container1 */
}

.header {
  position: relative;
  z-index: 3; /* ตั้งค่า z-index ให้สูงกว่าทุกอย่าง */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.room:hover {
  background-color: #e93388;
}

.room.selected {
  background-color: #e6f7ea;
}

.reservation-details {
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 5px;
}

